.burger_constructor, .ingredients_unlocked {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.burger_constructor {
  max-height: 912px;
  border: 1px solid;
}

.ingredients_unlocked {
  margin: 0;
  list-style: none;
  overflow: auto;
  overflow-x: hidden;
}

.total_price {
  margin: 40px 16px 52px 0;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  gap: 40px;
}

.price_value {
  line-height: 36px;
}
