.section {
  grid-area: orders_history;
  max-height: 812px;
  overflow: auto;
  overflow-x: hidden;
}

.orders_list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
