.card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 584px;
  min-height: 214px;
  color: #f2f2f3;
  background-color: #1c1c21;
  border-radius: 40px;
}

.digits {
  margin: 0;

  font-family: 'Iceland', Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.date {
  margin: 0;
}

.card_header {
  display: flex;
  justify-content: space-between;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: self-start;
}

.ingredients_icons {
  display: flex;
}
