.panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  min-width: 1120px;
}

.list {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style: none;
}

.list__element {
  display: flex;
  align-items: center;
}

.wrapper_logo {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.link {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  color: #8585ad;
  transition: color .6s;
}

.link_active {
  display: flex;
  gap: 8px;
  color: #F2F2F3;
}

.link:hover {
  color: #F2F2F3;
  transition: color .6s;
}